:root{
  --green:#588C7E;
  --blue:#2185d0;
  --yellow:#F2E394;
  --orange:#F2AE72;
  --red:#D96459;
  --brown:#8C4646;

  --primary: var(--green);
  --secondary: var(--orange);
  --bg:#fff;
  --text: #3a3a3a;
}

.spacer {
  display: flex;
  justify-content: space-between;
}

.summer {
  font-weight: 700;
    border-bottom: 1px solid;
    margin-bottom: .4rem;
}